body{
    background-color: rgb(185, 184, 184);
}


.img1 {
width: 70%

}

.centro{
    text-align: justify;
}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    text-decoration: none;
    color:rgb(185, 185, 217)
    display:floralwhite
  justify-content: center;
}


